
.about-section {
  color: #fff;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about-container {
  width : 100vw;
  height : 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10rem;
  /* background-color: red; */
}

.about-content {
  /* flex: 1; */
  width: 50%;
  padding: 2.5rem;
  text-align: center;
  /* background-color: yellow; */
}

.about-content h1 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
  /* font-family: 'Bebas Neue', sans-serif; */
  letter-spacing: 2px;
  color: var(--sub);
  font-weight: 700;
  /* text-shadow: 2px 2px #000; */
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  color: #f8f9fa;
  margin-bottom: 1rem;
}

.about-image {
  flex: 1;
  width : 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */

}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  border: 2px solid var(--sub);
  transition: transform 0.3s ease;
}

.about-image img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-content h1 {
    font-size: 2.2rem;
  }

  .about-content p {
    font-size: 1rem;
  }

  .about-image img {
    max-width: 90%;
  }
}

