/* HOME */

.swiper {
  height : 100vh;
}

.home-box{
  position: relative;
}

.home-box-in {
  height: 80%;
  width: 80%;
  z-index: 20;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap : 2rem;
  justify-content: center;
  align-items: center;
  /* color : var(--title-color); */
  color : white;
  
  
}

.home-box-in h1 {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  /* color : var(--title-color); */
  
  line-height: 109%;
  text-transform: uppercase;
  margin-top : 7rem;
  font-family: var(--body-font);
}

.home-box-in h2 {
  font-size: var(--h1-font-size);
    text-transform: uppercase;
}

.home-box-in h4 {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.home__buttons {
  display: flex;
  justify-content: space-between;
  z-index: var(--z-tooltip);
  opacity: 100% !important; 
}

.book--now {
  display: inline-block;
  transition: 0.3s;
  opacity: 100% !important;
}

.book--now:hover {
  transform: scale(1.2);
}
/* .home__content {
    row-gap: 1rem;
  }
  .home__group {
    display: grid;
    position: relative;
    padding-top: 2rem;
  }
  .home__img {
    height: 250px;
    justify-self: center;
  }
  .home__indicator {
    width: 8px;
    height: 8px;
    background-color: var(--title-color);
    border-radius: 50%;
    position: absolute;
    top: 7rem;
    right: 2rem;
  }
  .home__indicator::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 48px;
    background-color: var(--title-color);
    top: -3rem;
    right: 45%;
  }
  .home__details-img {
    position: absolute;
    right: 0.5rem;
  }
  .home__details-title,
  .home__details-subtitle {
    display: block;
    font-size: var(--small-font-size);
    text-align: right;
  }
  .home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--sub);
    text-transform: uppercase;
    margin-bottom: var(--mb-1);
  }
  .pumpkin__subtitle {
    font-size: var(--h3-font-size);
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: var(--mb-1);
  }
  .home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-black);
    line-height: 109%;
    margin-bottom: var(--mb-1);
  }
  .home__description {
    margin-bottom: var(--mb-1);
  }
  .home__buttons {
    display: flex;
    justify-content: space-between;
  }

  /* Swiper Class */
 /*.swiper-pagination {
    position: initial;
    margin-top: var(--mb-1);
  }
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    opacity: 1;
  }
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 0.5rem;
  }
  .swiper-pagination-bullet-active {
    width: 1.5rem;
    height: 5px;
    border-radius: 0.5rem;
  } */


  /* BUTTONS */
  .button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--sub);
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
  }
  .button:hover {
    background-color: var(--first-color-alt);
  }
  
  .button__icon {
    font-size: 1.25rem;
  }
  
  .button--ghost {
    border: 2px solid;
    background-color: transparent;
    border-radius: 3rem;
    padding: 0.60rem 1.5rem;
    text-decoration: none;
  }
  .button--ghost:hover {
    background: none;
  }
  .button--link {
    color: var(--title-color);
  }
  .button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
  }