.section {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: var(--sub);
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    display: block;
    
}

.section .back-component {
  position: absolute;
  top : 50px;
  left : 30px;
}

.full-height{
    min-height: 100vh;
  }


h6 span{
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
}

h4 {
  font-weight: 600;
  color : var(--text-white) !important;

}

.ayush {
  /* background-color: blue; */
  width : 100%;
  height: 100%;
  padding-top : 20px !important;
}


a {
	cursor: pointer;
  transition: all 200ms linear;
  text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}

/* [type="checkbox"] */
.checkbox-signup:checked,
.checkbox-signup:not(:checked){
  position: absolute;
  left: -9999px;
}

.checkbox-signup:checked + label,
.checkbox-signup:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}

.checkbox-signup:checked + label:before,
.checkbox-signup:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\ec4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox-signup:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
    position: relative;
    width: 40%;
    max-width: 40%;
    height: 560px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 20px;
  }

  .card-3d-wrapper {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
  }

  .card-front, .card-back {
    width: 100%;
    height: 100%;
    /* background-color: #2a2b38; */
    background-color: var(--sub);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
  
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .card-back {
    transform: rotateY(180deg);
  }
  .checkbox-signup:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
  }

  .center-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
    display: flex;
    flex-direction: column ;
    gap : 10;
    justify-content: start ;
    align-items: center;
  }

  .center-wrap .login-box {
    margin-top: 60px  !important;
   
  }

  .form-group{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
  }

  .profile-box {
    /* background-color: red; */
    display: flex !important;
    flex-direction: column;
    gap : 10;
    justify-content: center;
    align-items: center;
    

  }

  .profile-box img {
    object-fit: contain;
  }

  .profile-box input {
    /* background-color: blue; */
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }



  .form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }

  .form-style:focus,
  .form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }

  .input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #ffeba7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }

  .form-group input:-ms-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input::-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input::-webkit-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus:-ms-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus::-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus:-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus::-webkit-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }

  .form-group .profileImage {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;

  }

  
.btn{
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7 !important;
  /* color: #102770; */
  /* box-shadow: 0 8px 24px 0 rgba(255,235,167,.2); */
}
.btn:active,
.btn:focus{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}